:root {
    --color-background: rgb(1, 4, 9);
    --color-foreground: rgb(240, 246, 252);
    --color-text-primary: rgb(201, 209, 217);

    --font-sans-serif: BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

    --text-x-small: 0.75em;
    --text-small: 0.875em;
    --text-normal: 1em;
}

.app {
    background-color: var(--color-background);
    color: var(--color-text-primary);

    font-family: var(--font-sans-serif);
    font-size: var(--text-normal);
}
