.page-header {
    padding: 1em 2em;
    background-color: var(--color-lighten);
    display: flex;
    flex-direction: row;
    align-items: center;

    transition: all 0.1s ease-in-out;
    max-height: 100px;
}

.page-header--hidden {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
}

.page-header__icon {
    background-color: var(--color-foreground);
    height: 2em;
    width: 2em;
    border-radius: 1em;
    display: block;
    margin-right: 1em;
}
