.button {
    --button-foreground-color: var(--color-text-primary);
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-padding: 0.3125em 0.625em;
    --button-line-height: 1.25em;
    --button-min-width: 1em;

    display: block;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: default;
    user-select: none;

    min-width: var(--button-min-width);
    padding: var(--button-padding);
    line-height: var(--button-line-height);
    color: var(--button-foreground-color);
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);

    border-radius: 0.375em;
}

.button--color-invert {
    color: var(--button-background-color);
    background-color: var(--button-foreground-color);
    border-color: transparent;
}

.button:hover,
.button:focus {
    --button-border-color: var(--button-foreground-color);
}

.button[data-before]:before {
    content: attr(data-before);
    margin-right: 0.5em;
}

.button[data-after]:after {
    content: attr(data-after);
    margin-left: 0.5em;
}

.button--inline-block {
    display: inline-block;
}
.button--inline-flex {
    display: inline-flex;
}
.button--inline-text {
    --button-padding: inherit;
    --button-line-height: inherit;
    --button-min-width: inherit;

    line-height: inherit;
    display: inline;
    vertical-align: inherit;
}

.button--blue {
    --button-background-color: var(--color-blue);
}

.button--blue.button--color-invert {
    --button-foreground-color: transparent;
}

.button--link {
    --button-padding: inherit;
}

.button--link:hover,
.button--link:focus {
    text-decoration: underline;
    cursor: pointer;
}

.button--borderless,
.button--borderless:hover,
.button--borderless:focus {
    --button-border-color: transparent;
}

.button--disabled,
.button--disabled:hover,
.button--disabled:focus {
    opacity: 0.5;
    --button-border-color: transparent;
}
